# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env
venv/
.venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Env
.env
.env.*
!.env.example

# Test
.pytest_cache/
.coverage

# Database
db.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Static
staticfiles/
media/